.favorites-container {
    padding: 40px 0px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.favorites-without {
    text-align: center;
    padding-bottom: 200px;
}

@media screen and (max-width: 1250px) {
    .favorites-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1000px) {
    .favorites-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 800px) {
    .favorites-container {
        grid-template-columns: 1fr;
    }
}